<%- include ("partials/header.ejs") %>

<div class="container" id="heading">
    <h1>
        <%= new Date().toLocaleString('en-US', {
            year: 'numeric',
            month: 'short',
            day: 'numeric'
        }); %>
    </h1>
    <small class="text-muted">My Tasks For Today</small>
</div>

<div class="form-group">
    <form class="items" action="/submit" method="POST">
        <div class="input-group">
            <input type="text" class="form-control" name="newItem" placeholder="New Item" autocomplete="off">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Add Task</button>
            </div>
        </div>
    </form>
</div>

<div class="itemlist">
    <% if (locals.items) { %>
        <% items.forEach((item, index) => { %>
            <% if (item) { %>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="packersOff" value="1" id="checkbox<%= index %>" <% if (completed[index]) { %>checked<% } %>>
                    <label class="custom-control-label strikethrough" for="checkbox<%= index %>">
                        <%= item %>
                    </label>
                </div>
            <% } %>
        <% }); %>
    <% } %>
</div>

<%- include ("partials/footer.ejs") %>
